%main.previous-proposals-page.main-container
  .previous-proposals-page__previous-proposals
    %h1.lmo-h1{style: 'padding: 0 15px', translate: 'previous_proposals_page.heading'}
    %proposal_accordian{ng-if: 'group', proposals: 'previousProposalsPage.previousProposals'}
