%main.previous-proposals-page.main-container
  .previous-proposals-page__previous-proposals
    %h2.lmo-h2 Previous proposals
    .previous-proposals-page__previous-proposal{ng-repeat: 'proposal in previousProposalsPage.group.closedProposals() track by proposal.id'}
      %proposal_collapsed{proposal: 'proposal'}
